<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FLYHIGH</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/quote.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <style>
      body{
      background: url("static/login.jpg") no-repeat top center / cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="menu">
          <h3 class="logo">FLY<span>HIGH</span></h3>
          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>         
        </div>
      </div>
      <!-- <p>{{filepath}}</p> -->


<!-- 

     
      

    
    <p>
      <li>
        <a href="wipjobs" style="--i: 0.1s">Wipro Jobs</a>
      </li>
      <li>
        <a href="seijobs" style="--i: 0.1s">Seimens Jobs</a>
      </li>
      <li>
        <a href="ltijobs" style="--i: 0.1s">LTI Jobs</a>
      </li>
      <li>
        <a href="waljobs" style="--i: 0.1s">Wialmart Jobs</a>
      </li>
    </p> -->
      <!-- <li>
        <a href="http://127.0.0.1:8000/" style="--i: 0.1s"> Seimens Jobs </a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/" style="--i: 0.1s"> Lti Jobs </a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/" style="--i: 0.1s"> Walmart Jobs</a>
      </li> -->
      <div class="links">
        <ul>
          <li>
            <a href="wipjobs" style="--i: 0.1s">Wipro Jobs</a>
          </li>
          <li>
            <a href="seijobs" style="--i: 0.1s">Seimens Jobs</a>
          </li>
          <li>
            <a href="ltijobs" style="--i: 0.1s">LTI Jobs</a>
          </li>
          <li>
            <a href="waljobs" style="--i: 0.1s">Walmart Jobs</a>
          </li>
          
        </ul>
      </div>
    </div>
  </h1>
  
</div>
</body>


    <script src="/static/app.js"></script>
    <script src="/static/quote.js"></script>

</html>

